---
---

@import "{{ site.theme }}";

#header_wrap .inner { padding: 30px 10px 30px 10px; }

#project_tagline { display: none; }

#forkme_banner { display: none; }

#main_content { padding-top: 20px; }